@model System.Collections.Generic.IList<MediaCommMvc.Web.Features.Account.ViewModels.UserOverviewItemViewModel>

@{
    ViewBag.Title = Resources.Users.Userlist;
}
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped user-table">
            <thead>
                <tr>
                    <th>
                        @Resources.Users.UserName
                    </th>
                    <th>
                        @Resources.Users.FirstName
                    </th>
                    <th>
                        @Resources.Users.LastName
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in this.Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(user.Username, MVC.Account.UserProfile().AddRouteValue("username", user.Username))
                        </td>
                        <td>
                            @user.Firstname
                        </td>
                        <td>
                            @user.Lastname
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>