@model System.Collections.Generic.IList<MediaCommMvc.Web.Features.Account.ViewModels.UserOverviewItemViewModel>

@{
    ViewBag.Title = Resources.Users.Userlist;
}

<div id="user-list-container" class="row">
    <div class="col-md-8">

        @Html.ActionLink(Resources.Users.EditMyProfile, MVC.Account.EditMyProfile(), new { @class = "btn btn-default btn-sm" })

        <div id="user-list">

            <table id="user-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Resources.Users.UserName
                        </th>
                        <th class="hidden-xs">
                            @Resources.Users.FirstName
                        </th>
                        <th class="hidden-xs">
                            @Resources.Users.LastName
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in this.Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(user.Username, MVC.Account.UserProfile().AddRouteValue("username", user.Username))
                            </td>
                            <td class="hidden-xs">
                                @user.Firstname
                            </td>
                            <td class="hidden-xs">
                                @user.Lastname
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>