@model MediaCommMvc.Web.ViewModels.Forum.EditTopicWebViewModel

@using (Html.BeginForm(MVC.Forum.EditTopic(), FormMethod.Post, new { role = "form", @class = "edit-topic" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Subject)

        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control full-width" })

        @Html.ValidationMessageFor(m => m.Subject)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Text)

        @Html.TextAreaFor(m => m.Text, new { contenteditable = "true", @class = "editor form-control full-width" })

        @Html.ValidationMessageFor(m => m.Text)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ExcludedUserNames)
        @Html.ListBoxFor(m => m.ExcludedUserNames, this.Model.AllUserNames, new { multiple = "multiple" })
    </div>


    <button type="submit" class="btn btn-primary">@Resources.Forums.SaveTopic</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(function() {
            $('#Text').wysihtml5({
                toolbar: {
                    "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
                    "emphasis": true, //Italics, bold, etc. Default true
                    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                    "html": false, //Button which allows you to edit the generated HTML. Default false
                    "link": true, //Button to insert a link. Default true
                    "image": true, //Button to insert an image. Default true,
                    "color": false, //Button to change color of font
                    "blockquote": true, //Blockquote
                    "size": "sm" //default: none, other options are xs, sm, lg
                }
            });

            $("#ExcludedUserNames").multiselect({
                buttonText: function(options, select) {
                    if (options.length === 0) {
                        return '@Resources.General.NoneSelected' + ' <b class="caret"></b>';
                    } else if (options.length == $('option', $(select)).length) {
                        return '@Resources.General.AllSelected' + ' <b class="caret"></b>';
                    } else if (options.length > 5) {
                        return options.length + ' @Resources.General.Selected' + ' <b class="caret"></b>';
                    } else {
                        var selected = '';
                        options.each(function() {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();

                            selected += label + ', ';
                        });

                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            });
        });
    </script>
}
