@model MediaCommMvc.Web.ViewModels.Forum.EditPostViewModel


<div id="edit-post" class="row">

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Text)

        @Html.HiddenFor(m => m.PostId)

        <div contenteditable id="edit-post-input" class="editor well well-sm">

        </div>
        @Html.ValidationMessageFor(m => m.Text)

        <button type="submit" class="btn btn-primary">@Resources.General.Save</button>
    }

    @section scripts
    {

        @Scripts.Render("~/bundles/jqueryval")

        <script>

            $(function () {

                $('form').submit(function () {
                    $('#Text').val(editor.html());
                });

                // todo: remove duplication of editor config
                var editor = $('#edit-post-input').wysihtml5({
                    toolbar: {
                        "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
                        "emphasis": true, //Italics, bold, etc. Default true
                        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                        "html": false, //Button which allows you to edit the generated HTML. Default false
                        "link": true, //Button to insert a link. Default true
                        "image": true, //Button to insert an image. Default true,
                        "color": false, //Button to change color of font
                        "blockquote": true, //Blockquote
                        "size": "sm" //default: none, other options are xs, sm, lg
                    }
                });

                editor.html($('#Text').val());
            });
        </script>
    }
</div>
