@using MediaCommMvc.Web.Infrastructure
@using MediaCommMvc.Web.ViewModels.Forum
@using PagedList
@using PagedList.Mvc
@model ForumViewModel



@{
    PagedListRenderOptions forumPagerRenderOptions = new PagedListRenderOptions
                                                    {
                                                        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                        Display = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                        LinkToFirstPageFormat = Resources.General.First,
                                                        LinkToPreviousPageFormat = Resources.General.Previous,
                                                        LinkToNextPageFormat = Resources.General.Next,
                                                        LinkToLastPageFormat = Resources.General.Last,
                                                        MaximumPageNumbersToDisplay = 10,
                                                        UlElementClasses = new List<string> { "pagination", "pagination-sm" },
                                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true
                                                    };
}

<div class="clearfix">

    @Html.ActionLink(Resources.Forums.CreateTopic, MVC.Forum.CreateTopic(), new { id = "new-topic-button", @class = "btn btn-primary" })

    <div class="pull-right">
        @Html.PagedListPager(this.Model.Topics, pageNumber => this.Url.Action(MVC.Forum.Index().AddRouteValue("page", pageNumber)), forumPagerRenderOptions)
    </div>

</div>

<div id="forum-topics-container">
    <table id="forum-topics" class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>@Resources.Forums.Topic</th>
                <th>@Resources.Forums.Author</th>
                <th class="topic-post-count">@Resources.Forums.Posts</th>
                <th>@Resources.Forums.LastPost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TopicOverviewViewModel topic in Model.Topics)
            {
                <tr>
                    <td class="topic-icon">
                        <i class="@Icons.TopicIconClass(topic)"></i>
                    </td>
                    <td>
                        <div class="topic-title @topic.TopicTitleCssClass">
                            @Html.ActionLink(@topic.Title, MVC.Forum.Topic().AddRouteValues(new
                                                                                                {
                                                                                                    id = topic.Id,
                                                                                                    name = UrlEncoder.ToFriendlyUrl(topic.Title)
                                                                                                }))

                            @if (topic.HasPoll)
                            {
                                <span class="glyphicon glyphicon-check"></span>
                            }
                        </div>

                        <div class="topic-pager">

                            @MiniPager.Build(topic.PostCount, ForumOptions.PostsPerPage, pageNumber => this.Url.Action(MVC.Forum.Topic().AddRouteValues(new { id = topic.Id, page = pageNumber, name = UrlEncoder.ToFriendlyUrl(topic.Title) })))
                        </div>

                        @if (topic.ExcludedUsernames != null && topic.ExcludedUsernames.Any())
                        {
                            <div class="topic-additional-info">@Resources.Forums.InvisibleFor @string.Join(", ", topic.ExcludedUsernames)</div>
                        }
                    </td>
                    <td class="topic-author">
                        @topic.CreatedBy
                    </td>
                    <td class="topic-post-count">@topic.PostCount</td>
                    <td class="topic-last-post">
                        <div>@topic.LastPostTime</div>
                        <div>@topic.LastPostAuthor</div>
                    </td>
                </tr>}
        </tbody>
    </table>
</div>
@*<div class="pull-right forum-legend">
    <span>@Resources.Forums.NewPosts</span><i class="glyphicon glyphicon-eye-open"></i>
    | <span>@Resources.Forums.NoNewPosts</span>
    <i class="glyphicon glyphicon-eye-close"></i>
</div>*@