@using MediaCommMvc.Web.Forum.ViewModels
@using PagedList.Mvc
@model ForumViewModel



@{
    PagedListRenderOptions forumPagerRenderOptions = new PagedListRenderOptions
                                                    {
                                                        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                        Display = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                        LinkToFirstPageFormat = Resources.General.First,
                                                        LinkToPreviousPageFormat = Resources.General.Previous,
                                                        LinkToNextPageFormat = Resources.General.Next,
                                                        LinkToLastPageFormat = Resources.General.Last,
                                                        MaximumPageNumbersToDisplay = 10,
                                                        UlElementClasses = new List<string> { "pagination", "pagination-sm" },
                                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true
                                                    };
}

<div class="clearfix">

    @Html.ActionLink(Resources.Forums.CreateTopic, MVC.Forum.CreateTopic(), new { id = "new-topic-button", @class = "btn btn-default" })

    <div class="pull-right">
        @Html.PagedListPager(this.Model.Topics, pageNumber => this.Url.Action(MVC.Forum.Index().AddRouteValue("page", pageNumber)), forumPagerRenderOptions)
    </div>

</div>

<div id="forum-topics-container">
    <table id="forum-topics" class="table table-striped table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>@Resources.Forums.Topic</th>
            <th class="topic-post-count hidden-xs">@Resources.Forums.Posts</th>
            <th class="hidden-xs hidden-sm">@Resources.Forums.Created</th>
            <th class="hidden-xs">@Resources.Forums.LastPost</th>
            <th class="visible-xs"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (TopicOverviewViewModel topic in Model.Topics)
        {
            <tr>
                <td class="topic-icon">
                    <i title="@Icons.TopicIconTitle(topic)" class="@Icons.TopicIconClass(topic)"></i>
                </td>
                <td>
                    <div class="topic-title @topic.TopicTitleCssClass">
                        @Html.ActionLink(@topic.Title, MVC.Forum.Topic().AddRouteValues(new
                                                                                            {
                                                                                                id = topic.Id,
                                                                                                name = UrlEncoder.ToFriendlyUrl(topic.Title)
                                                                                            }))

                        @if (topic.HasPoll)
                        {
                            <span title="@Resources.Forums.Poll" class="glyphicon glyphicon-check"></span>
                        }
                    </div>

                    <div class="topic-additional-info">
                        @Url.MiniPager(topic, pageNumber => this.Url.Action(MVC.Forum.Topic().AddRouteValues(new { id = topic.Id, page = pageNumber, name = UrlEncoder.ToFriendlyUrl(topic.Title) })))

                        @if (topic.ExcludedUsernames != null && topic.ExcludedUsernames.Any())
                        {
                            <span>@Resources.Forums.InvisibleFor @string.Join(", ", topic.ExcludedUsernames)</span>
                        }
                    </div>


                </td>
                <td class="topic-post-count hidden-xs">@topic.PostCount</td>
                <td class="topic-author hidden-xs hidden-sm">
                    <div class="text-nowrap"><i class="glyphicon glyphicon-user"></i> @topic.CreatedBy</div>
                    <div>@topic.CreatedAt</div>
                </td>
                <td class="topic-last-post hidden-xs">
                    <div class="text-nowrap"><i class="glyphicon glyphicon-user"></i> @topic.LastPostAuthor</div>
                    <div>@topic.LastPostTime</div>
                </td>
                <td class="visible-xs">
                    <a href="@Url.Action(MVC.Forum.FirstNewPostInTopic().AddRouteValue("topicId", topic.Id))">
                        <i class="glyphicon glyphicon-play"></i>
                    </a>
                </td>
            </tr>}
        </tbody>
    </table>
</div>
    
<div class="clearfix">

    <div class="pull-right">
        @Html.PagedListPager(this.Model.Topics, pageNumber => this.Url.Action(MVC.Forum.Index().AddRouteValue("page", pageNumber)), forumPagerRenderOptions)
    </div>

</div>