@using MediaCommMvc.Web.ViewModels.Forum
@using PagedList.Mvc
@model TopicDetailsViewModel

@{
    PagedListRenderOptions pagerRenderOptions = new PagedListRenderOptions
                                                    {
                                                        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                        Display = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                        LinkToFirstPageFormat = Resources.General.First,
                                                        LinkToPreviousPageFormat = Resources.General.Previous,
                                                        LinkToNextPageFormat = Resources.General.Next,
                                                        LinkToLastPageFormat = Resources.General.Last,
                                                        MaximumPageNumbersToDisplay = 10,
                                                        UlElementClasses = new List<string> { "pagination", "pagination-sm" },
                                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true
                                                    };
}

<h4>@this.Model.Title</h4>

<span class="pull-right">
    @Html.PagedListPager(this.Model.Posts, pageNumber => this.Url.Action(MVC.Forum.Topic().AddRouteValue("page", pageNumber)), pagerRenderOptions)
</span>
<table id="topic-posts" class="table table-striped table-bordered">
    <tbody>
        @foreach (PostViewModel post in Model.Posts)
        {
            <tr>
                <td class="post-author-column">
                    <div>
                        <strong>  @post.AuthorName</strong>
                    </div>
                    <div>
                        @post.Created
                    </div>
                </td>
                <td>

                    <div class="post-actions pull-right">
                        @if (post.IsEditable)
                        {
                            <div class="post-action-button-container">
                                @Html.ActionLink(Resources.Forums.Edit, MVC.Forum.EditPost().AddRouteValue("id", post.Id), new { @class = "btn btn-mini btn-info" })
                            </div>
                            <div class="post-action-button-container">
                                @using (Html.BeginForm(MVC.Forum.DeletePost().AddRouteValue("id", post.Id)))
                                {
                                    <button type="submit" class="btn btn-mini btn-danger">@Resources.Forums.Delete</button>
                                }
                            </div>
                        }
                    </div>

                    <div class="post-message">
                        @Html.Raw(@post.Text)
                    </div>

                    <div class="post-action-button-container">
                        @*@Html.Partial(MVC.Forums.Views.ApprovalPane, new ApprovalPaneViewModel
                            {
                                Url = Url.GetPostUrl(post, this.Model.Posts.PageNumber),
                                ShowButton = !post.Author.UserName.Equals(this.User.Identity.Name, StringComparison.OrdinalIgnoreCase)
                            })*@
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>