@using Core
@using Core.Forum.ViewModels
@using MediaCommMvc.Web.ViewModels.Forum
@using PagedList
@using PagedList.Mvc
@model PagedTopicDetailsViewModel

@{
    PagedListRenderOptions pagerRenderOptions = new PagedListRenderOptions
                                                    {
                                                        DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                                        Display = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                                        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                                        LinkToFirstPageFormat = Resources.General.First,
                                                        LinkToPreviousPageFormat = Resources.General.Previous,
                                                        LinkToNextPageFormat = Resources.General.Next,
                                                        LinkToLastPageFormat = Resources.General.Last,
                                                        MaximumPageNumbersToDisplay = 10,
                                                        UlElementClasses = new List<string> { "pagination", "pagination-sm" },
                                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true
                                                    };
}



<div class="clearfix">
    <div class="pull-left">
        <h3 id="topic-title">@Model.TopicDetails.Title</h3>
    </div>
    <div class="pull-right">
        @Html.PagedListPager(this.Model.PagedPosts, pageNumber => Url.Action(MVC.Forum.Topic().AddRouteValue("page", pageNumber)), pagerRenderOptions)
    </div>
</div>
<div class="panel panel-default">
    <table id="topic-posts" class="table table-striped table-bordered">
        <tbody>
            @foreach (PostViewModel post in Model.PagedPosts)
            {
                <tr>
                    <td>
                        <div class="post">
                            <div class="post-header clearfix">
                                <div class="pull-left">
                                    <strong>  @post.AuthorName</strong>
                                </div>
                                <div class="pull-right">
                                    @post.Created
                                </div>
                            </div>
                            <div>
                                @Html.Raw(@post.Text)
                            </div>
                            <div class="post-actions clearfix">
                                @if (post.IsEditable)
                                {
                                    foreach (string approval in post.Approvals)
                                    {
                                        <div class='pull-left label label-info'>@approval</div>
                                    }

                                    <div class="pull-right">
                                        @Html.ActionLink(Resources.Forums.Edit, MVC.Forum.EditPost().AddRouteValue("id", post.Id), new { @class = "btn btn-xs btn-warning" })
                                    </div>

                                    if (post.ShowApprovalButton)
                                    {
                                        <div class="pull-right">
                                            <a class="btn btn-primary btn-xs" data-url="test">@Resources.Approval.IApprove</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.PagedPosts.IsLastPage)
{
    Html.RenderPartial(MVC.Forum.Views._Reply, new ReplyViewModel { TopicId = Model.TopicDetails.Id });

    //sections are not supported in partials, so the js must be included here
    @section scripts
    {

        @Scripts.Render("~/bundles/jqueryval")

        <script>

            $(function () {
                $('#reply > form').submit(function () {
                    $('#reply #Text').val(editor.html());
                });

                var editor = $('#reply-input').wysihtml5({
                    toolbar: {
                        "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
                        "emphasis": true, //Italics, bold, etc. Default true
                        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                        "html": false, //Button which allows you to edit the generated HTML. Default false
                        "link": true, //Button to insert a link. Default true
                        "image": true, //Button to insert an image. Default true,
                        "color": false, //Button to change color of font
                        "blockquote": true, //Blockquote
                        "size": "sm" //default: none, other options are xs, sm, lg
                    }
                });
            });
        </script>
    }
}
